@using System.Collections
@using System.Diagnostics
@using System.Reflection

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@(Environment.Is64BitProcess ? "x64" : "x86") process, <p>@(System.Environment.Is64BitOperatingSystem ? "x64" : "x86") OS</p>

@foreach(Assembly asm in ViewBag.Assemblies)
{
    <p>
        @try
        {
            @asm.FullName
            @Html.Raw(" ")
            @asm.Location
        }
        catch (Exception e)
        {
            @e.ToString()
        }
    </p>
}

<hr />

<h2>
    @foreach(ProcessModule proc in (ProcessModuleCollection)ViewBag.Modules)
    {
        <p>
            @proc.FileName
        </p>
    }
</h2>

<hr />

<h2>EnvironmentVariables</h2>
<table>
    @foreach(DictionaryEntry variable in (IDictionary)ViewBag.EnvironmentVariables)
    {
        <tr>
            <th>@variable.Key</th>
            <td>@variable.Value</td>
        </tr>
    }
</table>